:root {
  --spacing-safe-area-mobile: 1.5em;
  --spacing-grid-md: 1.5em;
  --spacing-grid-sm: 0.75em;
  --radius-lg: 1em;
  --colors-button-primary-text: #fff;
  --colors-button-primary-link-text: #3772ff;
  --spacing-safe-area-desktop: 2.25em;
  --colors-background-divider: #d2cfd0;

  --colors-tabs-active-text: #3772ff;
  --colors-tabs-active-background: #d7e3ff;
  --spacing-switch-item-padding: 0.5em;
}
